<% provide(:title, "Help") %>
 <h1>Help</h1>
  <p>
    Get help on the Ruby on Rails Tutorial at the
    <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
    To get help on this sample app, see the
    <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
    Tutorial</em> book</a>.
    For recipes of vegan, no-bake, delicious chocolate pie, see <a href="http://minimalistbaker.com/6-ingredient-vegan-chocolate-silk-pie/"><em>The Minimalist Baker</em</a>.
  </p>
